<html>
    <head>
        <title>
            <%= title %>
        </title>

        <!-- title icon  -->
        <link rel="icon" href="https://res.cloudinary.com/dilxqj69w/image/upload/v1627131841/images_vkh6mw.png" type="image/social-icon">

        <!-- font awesome  -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <!-- our individual style should over write layout style  -->
        <%- style %>
    </head>

    <body>
        <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>
        </main>
        
        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>